
.reddit-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.reddit-card {
  border: 1px solid #ddd;
  padding: 16px;
  margin: 16px;
  max-width: 500px;
}

.reddit-title {
  color: #333;
  margin-bottom: 8px;
}

.reddit-selftext {
  margin-bottom: 8px;
}

.reddit-url a{
  color: #007bff;
  margin-bottom: 8px;
  width: 300px;
}

.reddit-score {
  color: #28a745;
  font-weight: bold;
}
